{% extends 'base-app.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{% static 'videos/js/jquery-emojiRatings.js' %}"></script>
    <!-- <script src="{% static 'videos/js/jquery-emojiRatings.min.js' %}"></script> -->
    <link rel="stylesheet" href="{% static 'videos/css/starrr.css' %}">
    <link rel="stylesheet" href="{% static 'videos/css/videos.css' %}">
    <!-- <script src="{% static 'admin/js/actions.js' %}"></script> -->
</head>

<div class="container-fluid">
    <div style="padding: .1rem">
        {% if not user.is_authenticated %}
        <p style="text-align: center; padding-top:1%;"><a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Signup</a> for more features.</p>
        {% endif %}
        <br>
        <!-- <div class="video-page-video" style="height: 50%"> -->
            <!-- <div class="row"> -->
                <div class="videos-page-videoWrapper">
                    <iframe width="360px" height="149px" src="{{video.embed_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            <!-- </div> -->
        <!-- </div> -->
        <div class="row" style="padding-top:2%">
            <div class="col-sm-6">
                <h4><strong>{{video.title}}</strong></h4>
            </div>
        </div>

        <input type='hidden' id='selected_rating' value='{{rating}}'>
        <div class="row">
            <div class='col-sm-12 video-page-quick-info-wrapper'>
                <p>{{video.avg_rating}} &#x2B50 ({{video.num_ratings}}) | {{video.num_views}} views | {{video.timestamp}}</p>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="row" style="padding-left: 0.8rem">
            <pre style="padding: .2rem"><p id='user-rating'></p></pre>
         </div>
        {% endif %}
        <hr>
        <p>{{video.user.username}}</p>
        <p>{{video.description}}</p>
        <hr>
        <div class="dropdown" style="text-align: center;">
            <!-- <a href="#" class="dropdown-toggle" data-toggle="collapse">Youtube Data</a> -->
            <p>
                <a data-toggle="collapse" href="#youtube_data" role="button" aria-expanded="false" aria-controls="collapseExample" style="background: none; border: none">
                    Youtube Data
                </a>
            </p>
            <div class="collapse" id="youtube_data">
                <div class="card card-body">
                    <div class='videos-page-ytb-data-wrapper'>
                        <p>{{video.youtubedata.title}}</p>
                        <div class='videos-page-ytb-data-likes-views-wrap'></div>
                            <div class='videos-page-ytb-data-views' style="color:gray">
                                {{video.youtubedata.num_views}} views
                            </div>
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>{{video.youtubedata.num_likes}}  <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{video.youtubedata.num_dislikes}}
                        </div>
                        <br>
                        <p>{{video.youtubedata.description}}</p>
                </div>
            </div>
        </div>
        <!-- <div class='videos-page-ytb-data-wrapper'>
            <p>{{video.youtubedata.title}}</p>
            <div class='videos-page-ytb-data-likes-views-wrap'></div>
                <div class='videos-page-ytb-data-views' style="color:gray">
                    {{video.youtubedata.num_views}} views
                </div>
                <i class="fa fa-thumbs-up" aria-hidden="true"></i>{{video.youtubedata.num_likes}}  <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{video.youtubedata.num_dislikes}}
            </div>
            <p>{{video.youtubedata.description}}</p>
        </div> -->
    {% if user.is_authenticated %}
        <!-- Script for rating feature -->
        <script>
            options1 = {
                emoji: 'star',
                rating: parseInt('{{rating}}'),
                count: 5,
                fontSize: 20,
                inputName: 'user-rating',
                onUpdate: function() {
                    var new_rating = $('.emoji-rating').val();
                    // Prevents multiple database accesses for same data click
                    if (new_rating != $('#selected_rating').val()) {
                        console.log($('.emoji-rating').val());
                        post_data = {
                            'uni_video_id': $('#this_video').val(),
                            'rating': $('.emoji-rating').val(),
                            csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').attr('value'),
                        }
                        $.ajax({
                                type: "POST",
                                url: "{% url 'post-rating' %}",
                                data: post_data,
                                success:function(response){ 
                                    console.log('done')
                                    $('#selected_rating').val(new_rating)
                                }
                            });
                    }
                }
            }
            $('#user-rating').emojiRating(options1);
        </script>
    {% endif %}
        <br><br>
        <div id='num_comments'><p><b>{{video.commentthread.num_comments}} Comments</b></p></div>

        {% if user.is_authenticated %}
        <form id='comment-form' method='POST'> {% csrf_token %}
            <input type='hidden' id='this_video' value='{{ video.uni_video_id }}'/>
            <input type='hidden' id='this_thread' value='{{ video.commentthread.pk }}'/>
            <input type='hidden' id='class_' value='{{ video.class_choice }}'/>
            <div class='form-group row'>
                {% render_field commentForm.message %}
                <!-- <div style="padding-left: 5px;"> -->
                <button id='chat-send-button' type='submit'><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                <!-- </div> -->
            </div>
        </form>
        {% endif %}
        <div id='comment-section'>
            <div id='new_comments'></div>
            {% for comment in video.commentthread.comments.all %}
            <div id='comment'>
                <div id='comment-header' style="overflow: hidden;">
                    <p style="float: left;">{{ comment.user }}</p>
                    <p style="float: right;">{{ comment.timestamp }}</p>
                </div>
                <div id='comment-body'>
                    <p>{{ comment.message }}</p>
                </div>
                <div id='voting-reply-body'>
                    <button id='chat-send-button' type='submit'><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                    <button id='chat-send-button' type='submit'><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>

    </div>
</div>
<script>
    var formData = $("#comment-form");
    var msgInput = $("#id_message");
    formData.submit(function(event) {
            event.preventDefault(); // Prevents default submission 
            var msgText = msgInput.val();
            if (msgText != '') {
                var post_data = {
                    'comment': msgText,
                    'uni_video_id': $('#this_video').val(),
                    'thread_pk': $('#this_thread').val(),
                    'class_': $('#class_').val(),
                    csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').attr('value'),
                }
                $.ajax({
                    type: "POST",
                    url: "{% url 'post-comment' %}",
                    data: post_data,
                    success:function(response){ 
                        formData[0].reset();
                        returnedData = JSON.parse(response)
                        var numCommCont = document.getElementById('num_comments')
                        numCommCont.innerHTML = '<p><b>' + returnedData.num_comments + ' Comments<b><p>'
                        createNewComment(msgText, returnedData.timestamp)

                    }
                });
            }
        })

        if (!String.prototype.format) {
            String.prototype.format = function() {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function(match, number) { 
                return typeof args[number] != 'undefined'
                    ? args[number]
                    : match
                ;
                });
            };
        }
    function createNewComment(comment, timestamp) {
        new_comments_div = document.getElementById('new_comments')
        old_html = new_comments.innerHTML
        html_content_user = "<div id='comment'> \
                                <div id=\'comment\'> \
                            <div id=\'comment-header\' style=\"overflow: hidden;\"> \
                            <p style=\"float: left;\"> {{user.username}} <p>"
        html_content_timestamp = "<p style=\"float: right;\">{0}</p> \
                            </div>".format(timeSince(timestamp))
        html_content_message = "<div id=\'comment-body\'> \
                                <p>{0}</p> \
                                </div>\
                                <hr>".format(comment)
        html_content = html_content_user + html_content_timestamp + html_content_message + old_html
        new_comments_div.innerHTML = html_content
    }
    function timeSince(date) {

        var seconds = Math.floor(((new Date().getTime()/1000) - date))

        var interval = Math.floor(seconds / 31536000);

        if (interval > 1) {
        return interval + " years";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval > 1) {
        return interval + " months";
        }
        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
        return interval + " days";
        }
        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
        return interval + " hours";
        }
        interval = Math.floor(seconds / 60);
        if (interval > 1) {
        return interval + " minutes";
        }
        return Math.floor(seconds) + " seconds";
    }
</script>
{% endblock %}