{% extends 'base-app.html' %}
{% load static %}
{% block content %}
{% if videolist|length > 0 %}
    {% for video in videolist %}
    <form action='' method="POST"> <!-- this is where it redirects -->
        <h4><strong>{{video.title}}</strong></h4>
        <iframe width="640" height="360" src="{{video.embed_link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p><b>Posted by:</b> {{user.username}}</p>
        <p><b>Description:</b> {{video.description}}</p>
        {% csrf_token %}
    </form>
    <b><hr></b>
    {% endfor %}
{% else %}
{% include 'viewing/no-videos.html' %}
{% endif %}
{% endblock %}