{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="image/png" src="{% static 'img/Unitube-logo-red-white' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'general/css/base-app.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    </head>

    <header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-custom sticky-top" style="background-color: white !important;">
            <a href="{% url 'home' %}" class="logo-wrapper">
                <img src="{% static 'img/Unitube-logo-red-white.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler ml-auto custom-toggler" data-toggle="collapse" data-target="#mainNav" style="border: none;">
                <span class="navbar-toggler-icon"></span>
              </button>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="form-inline ml-auto">
                    <div class="form-inline searchform-txtbox">
                        <input type="text" name="search" class="form-control" placeholder="Search" style="width: 100%;" required="true" id="id_search" value="{{query}}">
                    </div>
                    <button name="search_button" id="btn btn-outline-light" class="form-control" onclick=search()><i class="fa fa-search"></i></button>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="new-post-lnk" style="padding-right: .2rem;">
                <a href="{% url 'post-video' %}" > 
                    <span class="new-post-txt">&#43;</span></a>
            </div>
            {% endif %}
            <div class="dropdown nav-item">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons user-icon">person</i>
                    {% if user.is_authenticated %}
                    <span class="nav-username" style="padding-left: 5px; display: inline-block; position: relative; top: -5px; font-size: 12pt !important;">{{user.username}}</span>
                    {% endif %}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right">
                    {% if user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'my_profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                    {% endif %}
                  </div>
            </div>
                <!-- <div class="form-inline">
                    <a href="{% url 'post-video' %}" > 
                        <span>&#43;</span></a>
                </div> -->
            </div>
        </nav>
    </div>
    </header>
    <body style="font-family: 'Raleway', 'sans-serif'; font-size: 12pt;">
        <div class="under-nav">
            {% block content %}
            {% endblock %}
        </div>
    </body>

    <script>
        var input = document.getElementById("id_search");
        function search() {
            if ($("#id_search").val() != '') {
                window.location.href = "/search/q=" + $("#id_search").val() + "/"
            }
        
        }

        input.addEventListener("keyup", function(event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementsByName("search_button")[0].click();
        }
    });
    </script>
</html>