{% include 'base-app.html' %}

{% load static %}
{% block content %}
<body>
    <div class="container-fluid">
    {% if user.is_authenticated %}
    <p style="text-align: center; padding-top:1%;">Homepage under development but feel free to search &#128512</p> 
    {% else %}       
    <p style="text-align: center; padding-top:1%;">Homepage under development but feel free to search, <a href="{% url 'login' %}">login</a>, or <a href="{% url 'signup' %}">signup</a> &#128512</p> 
    {% endif %}       
    </div>
    <!-- <div style="padding: .1rem;">
        <div class="homepage_row">

        </div>
    </div> -->
</body>
{% endblock %}