{% include 'base-app.html' %}
{% block content %}
<body>
    <p><a href="{% url 'post-video' %}">Post video</a></p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <!-- <iframe width="420" height="315"
    src="https://www.youtube.com/embed/tsk1e9GFD1U">
    </iframe> -->
    <!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/tsk1e9GFD1U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
</body>
{% endblock %}